/*Don's main css Style*/
@import url('https://fonts.googleapis.com/css?family=Fira Sans|Pattaya|Jaldi');

/*
Colours (Dark to light):
Blues
#071624
#132435
#203142 (main)
#354656
#4D6073

Brick
#371708
#522B19
#663F2D (main)
#85604E
#B18772

Gold
#372C08
#524419
#66582D (main)
#85784E
#B1A272
*/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: #181818;
}

div.topcenter{
	padding: 200px;
	text-align: center;
}

div.full-bg{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/test-bg.jpg");
	background-repeat: no-repeat;
}

table.table-style-1 {
	font-family: 'Fira Sans', sans-serif;
	display: inline-block;
	border-spacing: 0;
}

	/*Table style 1 headers and hover properties*/
	thead.thead-style-1 th{
		font-size: 28px;
		padding: 10px;
		background-color: #cce6ff;
		border: 1px solid #99ceff;
		transition: box-shadow, .5s;
		transition: background-color, .5s;
	}
	thead.thead-style-1 th:hover{
		background-color: #b3daff;
	}
	/*Rounded table headers*/
	thead.thead-style-1 th:first-child{
		border-radius: 5px 0 0 0;
	}
	thead.thead-style-1 th:last-child{
		border-radius: 0 5px 0 0;
	}

	/*Table row coloring and border properties*/
	tbody.tbody-style-1 tr{
		font-size: 20px;
		padding: 10px;
		background-color: #e5e5e5;
		transition: background-color, .5s;
	}
	tbody.tbody-style-1 tr:nth-child(even){
		background-color: #d9d9d9;
	}
	tbody.tbody-style-1 tr:hover{
		background-color: #d0d0d0;
	}

	/*Table cell properties*/
	tbody.tbody-style-1 td{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 4px;
		padding-top: 5px;
		border: 1px solid #b3b3b3;
	}

	tbody.tbody-style-1 td a:link, tbody.tbody-style-1 td a:visited{
		text-decoration: none;
		font-weight: bold;
		color: #343332;
	}
	tbody.tbody-style-1 td a:link:hover, tbody.tbody-style-1 td a:visited:hover{
		text-decoration: underline;
		color: #994d00;
	}

/*Main navigation menu on all pages*/
ul.nav-menu {
	font-family: 'Pattaya', sans-serif;
	font-size: 28pt;
	list-style-type: none;
	text-align: center;
	margin-top: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	height: auto;
	overflow: hidden;
	background-color: #203142;
	opacity: 0.9;
}
	/*Holds hamburger menu container*/
	div.hamburger-menu-container {
		display: none;
		/*display: inline-block;*/
		/*uncomment to always have it*/
		padding-top: 12px;
		position: relative;
		left: 0;
		top: 0;
		width: 40px;
		height: inherit;
	}

	div.hamburger-menu-line {
		position: relative;
		float: center;
		width: 100%;
		height: 5px;
		border-radius: 1px;
		border-spacing: 0;
	}
	div.hamburger-menu-line:nth-child(odd){
		background: #B18772;
	}
	div.hamburger-menu-line:nth-child(even){
		background: none;
	}
	/*Holds home button and other center items*/
	div.nav-menu-center-container {
		position: absolute;
		display: block;
		width: 100%;
		float: right;
	}
		ul.nav-menu li{
			position: relative;
			display: inline-block;
			padding: 10px 30px;
			padding-bottom: 12px;
			color: #B18772;
			border-spacing: 0;
			text-shadow: 1px 1px #85604E;
			transition: background-color, .5s;
			height: 50px;
		}

		li.hamburger-li{
			display: none;
			float: right;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
		li.nav-menu-li {
			display: inline-block;
		}
		ul.nav-menu li:hover, ul.nav-menu li:active {
			background-color: #294056;
			cursor: pointer;
		}
		li.nav-menu-li:hover, li.nav-menu-li:active{
			box-shadow: inset 0 10px 0 -5px #85604E;
			-webkit-box-shadow: inset 0 -10px 0 -5px #85604E;
			-moz-box-shadow: inset 0 10px 0 -5px #85604E;
		}
		li.logo-li{
			float: left;
			width: 15%;
			height: inherit;
			background-image: url("../images/don-kill.png");
			background-size: 40px 60px;
			background-repeat: no-repeat;
			background-position: center;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}

ul.hnav-menu{
	position: fixed;
	display: none;
	list-style-type: none;
	font-family: 'Jaldi', sans-serif;
	right: -300px;
	width: 300px;
	text-align: left;
	margin-top: 0;
	padding: 0;
}
	li.hnav-menu-li{
		font-size: 24px;
		padding: 10px;
		background-color: #cce6ff;
		border: 1px solid #99ceff;
		transition: .5s;
	}
	li.hnav-menu-li:hover{
		background-color: #b3daff;
		cursor: pointer;
	}

/*Hide nav-menu except hamburger on resize*/
@media screen and (max-width: 1100px){
	div.nav-menu-center-container {
		display: none !important;
	}
	div.hamburger-menu-container{
		display: inline-block !important;
	}
	ul.hnav-menu{
		display: block !important;
	}
}

div.screen-cover{
	display: none;
	position: absolute;
	background: #090909;
	opacity: 0.0;
	left: 0;
	width: 100%;
	height: 100%;
}